version: "3.8"

services:
  wordpress:
    build: ./docker/wordpress
    volumes:
      - ./wordpress:/var/www/html:cached
      - ./docker/wordpress/php/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    ports:
      - ${WORDPRESS_PORT}:80
    depends_on:
      - mysql
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      TZ: Asia/Tokyo
    restart: always

  mysql:
    image: mysql:8
    volumes:
      - ./docker/mysql/conf.d/my.cnf:/etc/mysql/conf.d/my.cnf
      - db_data:/var/lib/mysql
    ports:
      - ${MYSQL_PORT}:3306
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      TZ: Asia/Tokyo
    restart: always

  mailhog:
    image: mailhog/mailhog
    ports:
      - ${MAILHOG_PORT_HTTP}:8025
      - ${MAILHOG_PORT_SMTP}:1025

volumes:
  db_data:
